.editProductForm{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.editProductForm input{
    padding: 4px 8px 4px 8px;
}

.editButton{
    background-color: var(--adesso-orange);
    color: white;
    border: none;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    clip-path: polygon(0 0, 130% 0, 0 300%, 0 0); 
}

.editButton:hover{
    background-color: #DCC800;

}