.editProductForm{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.editProductForm input{
    padding: 4px 8px 4px 8px;
}

.editProductForm select{
    padding: 4px 8px 4px 8px;
}

.editButton{
    background-color: var(--adesso-orange);
    color: white;
    border: none;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    clip-path: polygon(0 0,0 0,0 0,100% 0,100% calc(100% - 0.9rem),calc(100% - 0.9rem) 100%,0 100%,0 100%);
}

.editButton:hover{
    background-color: #DCC800;

}