*,
*::before,
*::after {
  box-sizing: border-box;
  }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root{
  --adesso-blue: #006EC7;
  --adesso-gray: #887D75;
  --adesso-orange: #C8B600;
}