.loginLink{
    background-color: var(--adesso-blue);
    color: white;
    margin: 24px 0 64px 0;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    clip-path: polygon(0 0,0 0,0 0,100% 0,100% calc(100% - 0.9rem),calc(100% - 0.9rem) 100%,0 100%,0 100%);
    text-decoration: none;
}

.loginLink:hover {
    background-color: darkblue;
}

.textContent{
    margin: 0 30% 0 30%;
}
