.addProductLink{
    color: white;
    font-size: 24px;
    display: flex;
    gap: 8px;
    background-color: var(--adesso-orange);
    color: white;
    border: none;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    margin-top: 16px;
    clip-path: polygon(0 0,0 0,0 0,100% 0,100% calc(100% - 0.9rem),calc(100% - 0.9rem) 100%,0 100%,0 100%);
}

.addProductLink:hover{
    background-color: #DCC800;
}

.backLink{
    background-color: var(--adesso-blue);
    color: white;
    margin: 24px 0 64px 0;
    border: none;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    clip-path: polygon(0 0,0 0,0 0,100% 0,100% calc(100% - 0.9rem),calc(100% - 0.9rem) 100%,0 100%,0 100%);
}

.backLink:hover{
    background-color: darkblue;
}