.list{
    list-style-type: none;
    padding: 0;
}

.productCard{
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    border:1px solid var(--my-blue);
    margin: 8px 0 8px 0;
}

.productName{
    background-color: var(--my-gray);
    color: white;
    width: max-content;
}

.productDescrption{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: left;;
    flex-wrap: wrap;
}

.editAndDelete{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.editLink{
    color: blue;
}

.editLink:hover{
    color: var(--my-blue);
}