.productForm{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.productForm input{
    padding: 4px 8px 4px 8px;
}

.productForm select{
    padding: 4px 8px 4px 8px;
}

.addButton{
    background-color: var(--my-pink);
    color: white;
    border: none;
    font-size: 18px;
    width: fit-content;
    padding: 8px 16px 8px 16px;
    clip-path: polygon(0 0,0 0,0 0,100% 0,100% calc(100% - 0.9rem),calc(100% - 0.9rem) 100%,0 100%,0 100%);
}

.addButton:hover{
    background-color: #94222F;

}