.heading {
    color: white;
    background-color: var(--adesso-blue);
    font-size: 58px;
    margin: 16px;
    padding: 8px;
}

@media (max-width: 600px){
    .heading{
        font-size: 36px;
    }
    
}