.userAdminDiv {
    display: flex;
    justify-content: space-between;
 
}

.adminLink{
    color: var(--adesso-blue);
    font-size: 32px;
    margin: 0 16px 0 16px;
}

.adminLink:hover{
    color: darkblue;
}

.saisonButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
}

.saisonButtons button{
    color: var(--adesso-orange);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.saisonButtons button:hover{
    color: var(--adesso-blue);
}

.saisonButtons button.active{
    color: var(--adesso-blue);
}

@media(max-width: 480px){
    .userAdminDiv{
        margin-left: 20%;
        width: 60%;
    }
    .saisonButtons{
        width: 60%;
        margin-left: 20%;
    }
}